﻿@{
    ViewData["Title"] = "Thanh toán";
}

<!doctype html>
<html class="no-js" lang="en">
<body class="checkout">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- header-area-start -->
    <!-- header-area-end -->
    <!-- breadcrumbs-area-start -->
    <div class="breadcrumbs-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                            <li><a href="#" class="active">Thanh toán đơn hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs-area-end -->
    <!-- entry-header-area-start -->
    <div class="entry-header-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">                 
                        <h2>THANH TOÁN ĐƠN HÀNG</h2>                 
                </div>
            </div>
        </div>
    </div>
    <!-- entry-header-area-end -->
    <!-- coupon-area-area-start -->
    
    <!-- coupon-area-area-end -->
    <!-- checkout-area-start -->
    <div class="checkout-area mb-70 mt-5">
        <div class="container-fluid">
            <div class="row">
                <form action="#">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">                       
                        <div class="checkbox-form mt-5">
                            <h3>Thông tin khách hàng</h3>
                            <p>*Khách hàng vui lòng nhập thông tin cá nhân tại đây*</p>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="checkout-form-list">
                                        <label><b>Họ và tên</b><span class="required">*</span></label>
                                        <input type="text" placeholder="ví dụ: Phan Minh Sang">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="checkout-form-list">
                                        <label><b>Số điện thoại</b><span class="required">*</span></label>
                                        <input type="number" placeholder="ví dụ: 0968776237">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="checkout-form-list">
                                        <label><b>Địa chỉ Email </b><span>< không bắt buộc nhập ></span></label>
                                        <input type="text" placeholder="ví dụ: sangpm@dolphinsolutions.vn">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="">
                                        <label><b>Giới tính </b><span style="color:red">*</span></label>
                                        <div class="form-group">
                                            <input type="checkbox" /> Nam
                                            <input class="ml-5"type="checkbox" /> Nữ

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="checkout-form-list">
                                        <label><b>Địa chỉ </b><span class="required">*</span></label>
                                        <input type="text" placeholder="ví dụ: xóm Thanh Phúc, xã Tân An, huyện Tân Kỳ, tỉnh Nghệ An">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="checkout-form-list">
                                        <label><b>Ghi chú </b><span>< không bắt buộc nhập ></span></label>
                                        <textarea placeholder="ví dụ: Giao trước 5h chiều"class="form-control" rows="6" id="comment"></textarea>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="your-order">
                            <h3>Đơn hàng của bạn</h3>
                            <div class="tab-pane active" id="image-1">
                                <img src="img/product/30.jfif" alt="" />
                            </div>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-name"><b>Sản phẩm</b></th>
                                            <th class="product-total"><b>Chi tiết</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cart_item">
                                            <td class="product-name" style="color:red">
                                                Smart TV Samsung màn hình cong 4K UHD 55 inch
                                            </td>
                                            <td class="product-total"></td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                Số lượng
                                            </td>
                                            <td class="product-total">
                                                1
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                Size
                                            </td>
                                            <td class="product-total">
                                                S
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                Màu
                                            </td>
                                            <td class="product-total">
                                                Đen
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                Giá gốc
                                            </td>
                                            <td class="product-total"style="color:red">
                                                16.000.000 đ
                                            </td>
                                        </tr>

                                        <tr class="cart_item">
                                            <td class="product-name">
                                                Giảm giá
                                            </td>
                                            <td class="product-total">
                                                5%
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                Phí vận chuyển
                                            </td>
                                            <td class="product-total">
                                                100.000 đ
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        
                                        <tr class="order-total">
                                            <th>Tổng tiền</th>
                                            <td>
                                                <strong><span class="amount">15.000.000 đ</span></strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment-method">
                                
                                <div class="order-button-payment">
                                    <input type="submit" value="Đặt hàng">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- checkout-area-end -->
    <!-- footer-area-start -->


</body>
</html>

