﻿@{
    ViewData["Title"] = "Liên hệ";
}

<!doctype html>
<html class="no-js" lang="en">

<body class="contact">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- header-area-start -->
    <!-- header-area-end -->
    <!-- breadcrumbs-area-start -->
    <div class="breadcrumbs-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                            <li><a href="#" class="active">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs-area-end -->
    <!-- googleMap-area-start -->
    <div class="map-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- googleMap-end -->
    <!-- contact-area-start -->
    <div class="contact-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-info">
                        <h3>Thông tin liên hệ</h3>
                        <ul>
                            <li>
                                <i class="fa fa-users"></i>
                                <span>Điện máy: </span>Thạch Trang <br/>
                                <span>Chủ sở hữu:</span> Anh: Nguyễn Ngọc Thạch - Chị: Phan Thị Thùy Trang 
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span>Địa chỉ: </span>
                                xóm Xuân Hương, xã Hương Sơn, huyện Tân Kỳ, tỉnh Nghệ An
                            </li>
                            <li>
                                <i class="fa fa-mobile"></i>
                                <span>Số điện thoại: </span>
                                0987290599 hoặc 0328604034
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <span>Email: </span>
                                <a href="#">hotro@dienmaythachtrang.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-form">
                        <h3><i class="fa fa-envelope-o"></i>Hãy gửi thắc mắc về cho chúng tôi</h3>
                        <form id="contact-form" action="mail.php" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="single-form-3">
                                        <input name="name" type="text" placeholder="Tên">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-form-3">
                                        <input name="email" type="email" placeholder="Địa chỉ Email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single-form-3">
                                        <input name="subject" type="text" placeholder="Chủ đề">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single-form-3">
                                        <textarea name="message" placeholder="Nội dung thắc mắc"></textarea>
                                        <button class="submit" type="submit">Gửi đi</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- googleapis -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMlLa3XrAmtemtf97Z2YpXwPLlimRK7Pk"></script>
    <script>
    /* Google Map js */
        function initialize() {
            var mapOptions = {
                zoom: 15,
                scrollwheel: false,
                center: new google.maps.LatLng(23.810332, 90.412518)
            };

            var map = new google.maps.Map(document.getElementById('googleMap'),
                mapOptions);

            var marker = new google.maps.Marker({
                position: map.getCenter(),
                animation: google.maps.Animation.BOUNCE,
                icon: 'img/map.png',
                map: map
            });

        }
        google.maps.event.addDomListener(window, 'load', initialize);</script>
</body>
</html>

