﻿@{
    ViewData["Title"] = "Giới thiệu";
}
<!doctype html>
<html class="no-js" lang="en">

<body class="about">
    <!-- header-area-start -->
    <!-- header-area-end -->
    <!-- breadcrumbs-area-start -->
    <div class="breadcrumbs-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                            <li><a href="#" class="active">Giới thiệu</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs-area-end -->
    <!-- about-main-area-start -->
    <div class="about-main-area mb-70">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                    <div class="about-img">
                        <a href="#"><img src="img/banner/32.jpg" alt="man" /></a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="about-content">
                        <h3>Tại sao?</h3><br/>
                        <h3>Khách hàng nên lựa chọn chúng tôi?</h3>
                        <p>@*Với gần 15 năm trong lĩnh vực phân phối và bán lẻ*@</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-check"></i></a></li>
                            <li><a href="#"><i class="fa fa-check"></i></a></li>
                            <li><a href="#"><i class="fa fa-check"></i></a></li>
                            <li><a href="#"><i class="fa fa-check"></i></a></li>
                            <li><a href="#"><i class="fa fa-check"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-main-area-end -->
    <!-- our-mission-area-start -->
    <div class="our-mission-area mb-70">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-misson">
                        <h3><span>Kinh nghiệm</span></h3>
                        <p>Huis nostrud exerci tation ullamcorper suscipites lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-misson">
                        <h3>Sứ mệnh<span>của chúng tôi</span></h3>
                        <p>Huis nostrud exerci tation ullamcorper suscipites lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-misson mrg-none-xs">
                        <h3>Tầm nhìn<span>của chúng tôi</span></h3>
                        <p>Puis nostrud exerci tation ullamcorper suscipito lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our-mission-area-end -->
    <!-- counter-area-start -->
    <div class="counter-area ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="single-counter text-center">
                        <h2 class="counter">99</h2>
                        <span>projects completed</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="single-counter text-center">
                        <h2 class="counter">180</h2>
                        <span>Happy Clients</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="single-counter text-center">
                        <h2 class="counter">500</h2>
                        <span>Cups of Coffe</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 hidden-sm col-xs-12">
                    <div class="single-counter text-center mrg-none-sm mrg-none-xs">
                        <h2 class="counter">320</h2>
                        <span>Awards Winner</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter-area-end -->
    <!-- team-area-start -->
    <div class="team-area ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title text-center mb-50">
                        <h2>Đội ngũ của chúng tôi</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="single-team">
                        <div class="team-img-area">
                            <div class="team-img">
                                <a href="#"><img src="img/team/1.jpg" alt="man" /></a>
                            </div>
                            <div class="team-link">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h3>Nguyễn Ngọc Thạch</h3>
                            <span>Chủ cửa hàng</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="single-team">
                        <div class="team-img-area">
                            <div class="team-img">
                                <a href="#"><img src="img/team/2.jpg" alt="man" /></a>
                            </div>
                            <div class="team-link">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h3>Phan Thị Thùy Trang</h3>
                            <span>Chủ cửa hàng</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="single-team">
                        <div class="team-img-area">
                            <div class="team-img">
                                <a href="#"><img src="img/team/3.jpg" alt="man" /></a>
                            </div>
                            <div class="team-link">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h3>Maria Alessis</h3>
                            <span>Class Master</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 hidden-sm col-xs-12">
                    <div class="single-team mrg-none-xs">
                        <div class="team-img-area">
                            <div class="team-img">
                                <a href="#"><img src="img/team/4.jpg" alt="man" /></a>
                            </div>
                            <div class="team-link">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h3>John Doe</h3>
                            <span>PHP Devloper</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team-area-end -->
    <!-- skill-area-start -->
    
    <!-- skill-area-end -->
    <!-- footer-area-start -->


</body>
</html>

