﻿<footer>
    <!-- footer-top-start -->
    @*<div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-top-menu bb-2">
                            <nav>
                                <ul>
                                    <li><a href="#">home</a></li>
                                    <li><a href="#">Enable Cookies</a></li>
                                    <li><a href="#">Privacy and Cookie Policy</a></li>
                                    <li><a href="#">contact us</a></li>
                                    <li><a href="#">blog</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- footer-top-start -->
    <!-- footer-mid-start -->
    <div class="footer-mid ptb-50 ">
        <div class="container-fluid">
            <div class="row">


                <div class="single-footer mrg-sm ml-5">
                    <div class="footer-title mb-20">
                        <h3>Thông tin cửa hàng</h3>
                    </div>
                    <div class="footer-contact">
                        <p class="adress">
                            <span>Điện máy Thạch Trang</span>
                            xóm Xuân Hương, xã Hương Sơn, huyện Tân Kỳ, tỉnh Nghệ An
                        </p>
                        <p><span>Gọi ngay</span>  0987290599 hoặc 0328604034</p>
                        <p><span>Email:</span>  hotro@dienmaythachtrang.com</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- footer-mid-end -->
    <!-- footer-bottom-start -->
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row bt-2">
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="copy-right-area">
                        <p>Dự án được phát triển bởi <a style="color:deepskyblue;"><b>Phan Minh Sang - Nguyễn Văn Thiên</b></a>. Bản quyền sản phẩm thuộc <a style="color:deepskyblue;"><b> Điện máy Thạch Trang.</b></a> Mọi hành vi sao chép đều phải chịu trách nhiệm trước pháp luật</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- footer-bottom-end -->
</footer>