﻿<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Koparion – Book Shop Bootstrap 4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap&subset=latin-ext" rel="stylesheet">

</head>
<header>
   
    <div class="header-mid-area ptb-40">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="logo-area text-center logo-xs-mrg">
                        @*<a href="index.html"><img src="img/logo/logo.png" alt="logo" /></a>*@
                        <h1 href="@Url.Action("Index","Home")" class="mt-2" style="color:green;font-family: 'Microsoft Tai Le', cursive;">Thach Trang</h1>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12">
                    <div class="header-search">
                        <form action="#">
                            <input type="text" placeholder="Tìm kiếm sản phẩm tại đây" />
                            <a href="#"><i class="fa fa-search"></i></a>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="my-cart">
                        <ul>
                            <li>
                                <a href="@Url.Action("Login","User")"><i class="fa fa-sign-in"></i>Đăng nhập/Đăng ký</a>                              
                                <div class="mini-cart-sub">
                                   
                                    <div class="cart-bottom">
                                        <a class="view-cart" href="@Url.Action("Login","User")">Đăng nhập</a>
                                        <a href="@Url.Action("Index","Register")">Đăng ký</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                   
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="my-cart">
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-shopping-cart"></i>Giỏ hàng</a>
                                <span>2</span>
                                <div class="mini-cart-sub">
                                    <div class="cart-product">
                                        <div class="single-cart">
                                            <div class="cart-img">
                                                <a href="#"><img src="img/product/1.jpg" alt="book" /></a>
                                            </div>
                                            <div class="cart-info">
                                                <h5><a href="#">Joust Duffle Bag</a></h5>
                                                <p>1 x £60.00</p>
                                            </div>
                                            <div class="cart-icon">
                                                <a href="#"><i class="fa fa-remove"></i></a>
                                            </div>
                                        </div>
                                        <div class="single-cart">
                                            <div class="cart-img">
                                                <a href="#"><img src="img/product/3.jpg" alt="book" /></a>
                                            </div>
                                            <div class="cart-info">
                                                <h5><a href="#">Chaz Kangeroo Hoodie</a></h5>
                                                <p>1 x £52.00</p>
                                            </div>
                                            <div class="cart-icon">
                                                <a href="#"><i class="fa fa-remove"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-totals">
                                        <h5>Tổng tiền <span>£12.00</span></h5>
                                    </div>
                                    <div class="cart-bottom">
                                        <a class="view-cart" href="cart.html">Xem giỏ hàng</a>
                                        <a href="@Url.Action("Index","Checkout")">Thanh toán</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-mid-area-end -->  
</header>