﻿<!-- main-menu-area-start -->
@{ 

}
<div class="main-menu-area hidden-sm hidden-xs sticky-header-1" id="header-sticky">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="menu-area ">
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="@Url.Action("Index","Home")">Trang chủ<i class="fa fa-angle-down"></i></a>
                                
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Product")">Tivi<i class="fa fa-angle-down"></i></a>
                                @*<div class="mega-menu">
                                    <span>
                                        <a href="#" class="title">Jackets</a>
                                        <a href="shop.html">Tops & Tees</a>
                                        <a href="shop.html">Polo Short Sleeve</a>
                                        <a href="shop.html">Graphic T-Shirts</a>
                                        <a href="shop.html">Jackets & Coats</a>
                                        <a href="shop.html">Fashion Jackets</a>
                                    </span>
                                    <span>
                                        <a href="#" class="title">weaters</a>
                                        <a href="shop.html">Crochet</a>
                                        <a href="shop.html">Sleeveless</a>
                                        <a href="shop.html">Stripes</a>
                                        <a href="shop.html">Sweaters</a>
                                        <a href="shop.html">hoodies</a>
                                    </span>
                                    <span>
                                        <a href="#" class="title">Bottoms</a>
                                        <a href="shop.html">Heeled sandals</a>
                                        <a href="shop.html">Polo Short Sleeve</a>
                                        <a href="shop.html">Flat sandals</a>
                                        <a href="shop.html">Short Sleeve</a>
                                        <a href="shop.html">Long Sleeve</a>
                                    </span>
                                    <span>
                                        <a href="#" class="title">Jeans Pants</a>
                                        <a href="shop.html">Polo Short Sleeve</a>
                                        <a href="shop.html">Sleeveless</a>
                                        <a href="shop.html">Graphic T-Shirts</a>
                                        <a href="shop.html">Hoodies</a>
                                        <a href="shop.html">Jackets</a>
                                    </span>
                                </div>*@
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Product")">Tủ lạnh<i class="fa fa-angle-down"></i></a>
                                
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Product")">Máy giặt<i class="fa fa-angle-down"></i></a>
                                
                            </li>
                            <li>
                                <a href="#">Gas<i class="fa fa-angle-down"></i></a>
                                
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Product")">Sản phẩm khác<i class="fa fa-angle-down"></i></a>
                                <div class="sub-menu sub-menu-2">
                                    <ul>
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="product-details.html">product-details</a></li>
                                        <li><a href="blog.html">blog</a></li>
                                        <li><a href="blog-details.html">blog-details</a></li>
                                        <li><a href="contact.html">contact</a></li>
                                        <li><a href="about.html">about</a></li>
                                        <li><a href="login.html">login</a></li>
                                        <li><a href="register.html">register</a></li>
                                        <li><a href="cart.html">cart</a></li>
                                        <li><a href="checkout.html">checkout</a></li>
                                        <li><a href="wishlist.html">wishlist</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","About")">Giới thiệu<i class="fa fa-angle-down"></i></a>
                                <div class="sub-menu sub-menu-2">
                                    <ul></ul>
                                </div>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Contact")">Liên hệ<i class="fa fa-angle-down"></i></a>
                                <div class="sub-menu sub-menu-2">
                                    <ul></ul>
                                </div>
                            </li>
                          
                                <li>
                                    <a href="@Url.Action("Index","Admin")">Admin<i class="fa fa-angle-down"></i></a>
                                    <div class="sub-menu sub-menu-2">
                                        <ul></ul>
                                    </div>
                                </li>
                          
                            <li>
                                <a href="#">Thống kê<i class="fa fa-angle-down"></i></a>
                                <div class="sub-menu sub-menu-2">
                                    <ul></ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- main-menu-area-end -->
<!-- mobile-menu-area-start -->
<div class="mobile-menu-area hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul id="nav">
                            <li>
                                <a href="@Url.Action("Index","Home")">Trang chủ</a>
                                <ul>
                                    <li><a href="index-2.html">Home-2</a></li>
                                    <li><a href="index-3.html">Home-3</a></li>
                                    <li><a href="index-4.html">Home-4</a></li>
                                    <li><a href="index-5.html">Home-5</a></li>
                                    <li><a href="index-6.html">Home-6</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="product-details.html">Tivi</a>
                                <ul>
                                    <li><a href="shop.html">Tops & Tees</a></li>
                                    <li><a href="shop.html">Polo Short Sleeve</a></li>
                                    <li><a href="shop.html">Graphic T-Shirts</a></li>
                                    <li><a href="shop.html">Jackets & Coats</a></li>
                                    <li><a href="shop.html">Fashion Jackets</a></li>
                                    <li><a href="shop.html">Crochet</a></li>
                                    <li><a href="shop.html">Sleeveless</a></li>
                                    <li><a href="shop.html">Stripes</a></li>
                                    <li><a href="shop.html">Sweaters</a></li>
                                    <li><a href="shop.html">hoodies</a></li>
                                    <li><a href="shop.html">Heeled sandals</a></li>
                                    <li><a href="shop.html">Polo Short Sleeve</a></li>
                                    <li><a href="shop.html">Flat sandals</a></li>
                                    <li><a href="shop.html">Short Sleeve</a></li>
                                    <li><a href="shop.html">Long Sleeve</a></li>
                                    <li><a href="shop.html">Polo Short Sleeve</a></li>
                                    <li><a href="shop.html">Sleeveless</a></li>
                                    <li><a href="shop.html">Graphic T-Shirts</a></li>
                                    <li><a href="shop.html">Hoodies</a></li>
                                    <li><a href="shop.html">Jackets</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="product-details.html">Tủ lạnh</a>
                                <ul>
                                    <li><a href="shop.html">Tops & Tees</a></li>
                                    <li><a href="shop.html">Sweaters</a></li>
                                    <li><a href="shop.html">Hoodies</a></li>
                                    <li><a href="shop.html">Jackets & Coats</a></li>
                                    <li><a href="shop.html">Long Sleeve</a></li>
                                    <li><a href="shop.html">Short Sleeve</a></li>
                                    <li><a href="shop.html">Polo Short Sleeve</a></li>
                                    <li><a href="shop.html">Sleeveless</a></li>
                                    <li><a href="shop.html">Sweaters</a></li>
                                    <li><a href="shop.html">Hoodies</a></li>
                                    <li><a href="shop.html">Wedges</a></li>
                                    <li><a href="shop.html">Vests</a></li>
                                    <li><a href="shop.html">Polo Short Sleeve</a></li>
                                    <li><a href="shop.html">Sleeveless</a></li>
                                    <li><a href="shop.html">Graphic T-Shirts</a></li>
                                    <li><a href="shop.html">Hoodies</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="product-details.html">Máy giặt</a>
                                <ul>
                                    <li><a href="shop.html">Shirts</a></li>
                                    <li><a href="shop.html">Florals</a></li>
                                    <li><a href="shop.html">Crochet</a></li>
                                    <li><a href="shop.html">Stripes</a></li>
                                    <li><a href="shop.html">Shorts</a></li>
                                    <li><a href="shop.html">Dresses</a></li>
                                    <li><a href="shop.html">Trousers</a></li>
                                    <li><a href="shop.html">Jeans</a></li>
                                    <li><a href="shop.html">Heeled sandals</a></li>
                                    <li><a href="shop.html">Flat sandals</a></li>
                                    <li><a href="shop.html">Wedges</a></li>
                                    <li><a href="shop.html">Ankle boots</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Gas</a>
                                <ul>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-details.html">blog-details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="product-details.html">Sản phẩm khác</a>
                                <ul>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="product-details.html">product-details</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-details.html">blog-details</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Giới thiệu</a>
                                <ul>
                                    <li><a href="blog.html">Giới thiệu</a></li>
                                    <li><a href="blog-details.html">blog-details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Liên hệ</a>
                                <ul>
                                    <li><a href="blog.html">Liên hệ</a></li>
                                    <li><a href="blog-details.html">blog-details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Admin")">Admin</a>
                                <ul>
                                    <li><a href="blog.html">Admin</a></li>
                                    <li><a href="blog-details.html">blog-details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Thống kê</a>
                                <ul>
                                    <li><a href="blog.html">Thống kê</a></li>
                                    <li><a href="blog-details.html">blog-details</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mobile-menu-area-end -->