﻿@model OnlineShopping.Client.Web.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/View/css/login.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .error-block {
            margin: 15px 0px 0px;
            color: #ff5151;
        }
    </style>
</head>

<!------ Include the above in your HEAD tag ---------->
<body data-sa-theme="3">

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <h1 class="mt-2" style="color:green;font-family: 'Times New Roman', cursive;">Thạch Trang</h1>
            </div>

            <!-- Login Form -->
            <form asp-controller="User" asp-action="Login" method="post" asp-route-returnUrl="@ViewData[" ReturnUrl"]">
                <input type="text" asp-for="Username" id="login" class="fadeIn second" name="Username" placeholder="Tên tài khoản">
                <input type="text" asp-for="Password" id="password" class="fadeIn third" name="Password" placeholder="Mật khẩu">

            </form>
            <div class="row justify-content-center">
                <input id="login_user" type="submit" class="fadeIn fourth w-50" value="Đăng nhập">
                <a>(Nếu bạn chưa có tài khoản hãy nhấn vào đăng ký)</a>
                <input type="submit" class="fadeIn fourth w-50" name="btn_register" value="Đăng ký">

            </div>
            <a class="underlineHover" href="@Url.Action("Index","Home")"><p>Quay về trang chủ</p></a>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Quên mật khẩu?</a>
            </div>
        </div>
    </div>
    <script src="~/View/js/login.js"></script>
</body>
</html>

