﻿@model OnlineShopping.Client.Web.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký tài khoản";
}

<!doctype html>
<html class="no-js" lang="en">

<body class="register">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- header-area-start -->
    <!-- header-area-end -->
    <!-- breadcrumbs-area-start -->
    <div class="breadcrumbs-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                            <li><a href="#" class="active">Đăng ký tài khoản</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card bg-light">
                <article class="card-body mx-auto">
                    <h4 class="card-title mt-3 text-center">Tạo tài khoản</h4>
                    <form>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Họ và tên" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Địa chỉ email" type="email">
                        </div> <!-- form-group// -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" placeholder="Nhập mật khẩu" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" placeholder="Nhập lại mật khẩu" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Tạo tài khoản  </button>
                        </div> <!-- form-group// -->
                        <p class="text-center">Bạn đã có tài khoản? <a href="@Url.Action("Login","User")">Đăng nhập</a> </p>
                    </form>
                </article>
            </div> <!-- card.// -->

        </div>
        <!--container end.//-->
    </div>
    <!-- breadcrumbs-area-end -->
    <!-- user-login-area-start -->
    @*<div class="user-login-area mb-70">
            <div class="container">
                <div class="row">
                    <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="col-lg-12">
                        <div class="login-title text-center mb-30">
                            <h2>Đăng ký</h2>
                            <form asp-action="RegisterAccout" asp-controller="Register" method="post">
                                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                    <div class="billing-fields">

                                        <div class="single-register">
                                            <label>Tên đăng nhập</label>
                                            <input type="text" asp-for="Username" />
                                        </div>
                                        <div class="single-register">
                                            <label>Mật khẩu</label>
                                            <input type="password" asp-for="Password" />
                                        </div>
                                        <div class="single-register">
                                            <label>Nhập lại mật khẩu</label>
                                            <input type="password" asp-for="Repassword" />
                                        </div>
                                        <div class="single-register">
                                            <label>Email</label>
                                            <input type="email" asp-for="Email" />
                                        </div>
                                        <div class="single-register" style="text-align:center">
                                            <button href="@Url.Action("Login","User")" class="btn btn-secondary w-25">Hủy</button>
                                            <button class="btn btn-success w-25">Đăng ký</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>*@
    <!-- user-login-area-end -->
    <!-- footer-area-start -->

    <link rel="stylesheet" href="~/css/register.css">

</body>
</html>

